<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tool="http://www.springframework.org/schema/tool"
       xmlns:context ="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--    <bean id="accountService" class="com.zyj.service.impl.AccountServiceImpl"></bean>-->
<!--   &lt;!&ndash; 告知spring在创建容器时要扫描的包 &ndash;&gt;-->
<!--    <context:component-scan base-package="com.zyj"></context:component-scan>-->

    <bean id="person" class="com.zyj.suns.basic.Person" name="person2"></bean>
    <bean id="person1" class="com.zyj.suns.basic.Person" ></bean>
    <bean id="user" class="com.zyj.suns.basic.User" ></bean>

</beans>